<div class="row">
	<div class="col text-center">
		<%=image_tag @user.avatar_url.to_s, class:"profilepicture mb-5"%>		
	</div>
</div>

<div class="row">
	<div class="col text-center">
		<h1><%=@user.full_name%>'s Badges</h1>
	</div>
</div>

<hr />

<div class="row">
	<%= render partial: 'badges/badge', collection: @user.badges, as: :badge %>
</div>