<h1>Editing Project</h1>
<%= bootstrap_form_with model: @project, url: project_path(@project.id), local: true, method: :patch do |form| %>
	<%=render partial: 'projects/project_form', locals: {form: form} %>
<% end %>