<h2 class="text-center mb-3">New Project</h2>

<%= bootstrap_form_with model: @project, url:projects_path, local: true do |form| %>
	<%=render partial: 'projects/project_form', locals: {form: form} %>
<% end %>