Note: we can just put all new review forms into modals/popovers on the project#show page?
<hr/>
<h2>New review for <%="#{@user.full_name} regarding #{@project.title}"%></h2>
<%= render partial: 'form' %>